@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,700,700italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 65.2%;
}
body {
  font-family: "Anonymous Pro", sans-serif;
  background-color: whitesmoke;
  font-size: 1.6rem;
}
.centerPage {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  height: 100vh;
  padding: 1rem;
}
.heading_container {
  text-align: center;
  margin-bottom: 2rem;
}
.heading {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
#colorGenerate {
  padding: 1rem 2rem;
  outline: none;
  border: 1px solid rgb(142, 135, 135);
  background-color: #74b816;
  color: #fff;
  font-size: 1.8rem;
  transition: all 0.3s ease-in;
}
#colorGenerate:hover {
  background-color: #a9e34b;
}
.cards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  gap: 1rem;
}
.cards_container .card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card_title {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  color: #fff;
}
.cards_container .card:nth-child(odd) {
  background-color: red;
  padding: 2.4rem;
}

.cards_container .card:nth-child(even) {
  background-color: orange;
  padding: 2.4rem;
}
